In [184]:
import pandas as pd

movies =pd.read_csv(".\ml-25m\movies.csv")

In [185]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [186]:
import re

def clean_genre(genres):
    return re.sub("[^a-zA-Z0-9 ]"," ",genres)

In [187]:
movies["clear_genre"]=movies["genres"].apply(clean_genre)

In [188]:
movies

,movieId,title,genres,clear_genre
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy,Comedy
...,...,...,...,...
62418,209157,We (2018),Drama,Drama
62419,209159,Window of the Soul (2001),Documentary,Documentary
62420,209163,Bad Poems (2018),Comedy|Drama,Comedy Drama
62421,209169,A Girl Thing (2001),(no genres listed),no genres listed
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Action Adventure Drama

In [194]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer=TfidfVectorizer(ngram_range=(1,1))

tfidf=vectorizer.fit_transform(movies["clear_genre"])

In [195]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(genres):
    genres=clear_genre(genres)
    query_vec = vectorizer.transform([genres])
    similarity = cosine_similarity(query_vec,tfidf).flatten()
    indices = np.argpartition(similarity,-5)[-5:]
    resuts = movies.iloc[indices][::-1]
    return results

In [196]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value = "",
    description = "Movie genre:",
    disabled = False
    )
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        genres=data["new"]
        if len(genres)>5:
            display(search(genres))

movie_input.observe(on_type,names='value')

display(movie_input,movie_list)

Text(value='', description='Movie genre:')

Output()